body {
    font-family: Arial, sans-serif;
}

#movie-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-image {
    width: 100%;
    height: auto;
}

.movie-info {
    margin-top: 20px;
}

.movie-title {
    font-size: 24px;
    font-weight: bold;
}

.movie-release-date {
    font-size: 18px;
    color: #888;
}

.movie-ticket-price {
    font-size: 20px;
    font-weight: bold;
    color: #0077cc;
}

.movie-tickets-available {
    font-size: 16px;
    color: #888;
}